body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #d4c8bb; 
}

header {
    background-color: #695949; 
    padding: 40px 0;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #fff; 
}

nav ul li a.active {
    font-weight: bold;
    font-size: 70px;
}

.container {
    width: 80%;
    margin: 50px auto;
    background-color: #ab9e90; 
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);

}

h1 {
    color: #333;
   
}

label {
    display: block;
    margin-bottom: 5px;
    color: #333; 
}

input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc; 
    border-radius: 5px;
    box-sizing: border-box;
}

button {
    background-color: #957e67; 
    color: #fff; 
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #7d6955; 
}
